<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="local-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="dev-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="qa-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="uat-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="prod-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
    </configSections>
    <appSettings>
        <add key="Message" value="Hello, world!" />
    </appSettings>
    <local-machine hostName="localhost"
                   dbName="online_logging" />
    <dev-machine hostName="localhost"
                   dbName="online_logging" />
    <qa-machine hostName="localhost"
                   dbName="online_logging" />
    <uat-machine hostName="localhost"
                   dbName="online_logging" />
    <prod-machine hostName="localhost"
                   dbName="online_logging" />
</configuration>