<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="local-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="dev-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="qa-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="uat-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
        <section name="prod-machine" 
                 type="PropertyManager.DataSourceConfig,PropertyManager" />
    </configSections>
    <appSettings>
        <add key="Message" value="Hello, world!" />
        <!-- Domain/DAO configuration items -->
        <add key="DomainAssembly" value="DynPropertyDomain" />
        <add key="DomainNamespace" value="DynPropertyDomain" />
        <add key="DAOAssembly" value="DynPropertyDomain" />
        <add key="DAONamespace" value="DynPropertyDomain.DAO" />
    </appSettings>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
    <local-machine hostName="localhost"
                   dbName="online_logging" />
    <dev-machine hostName="localhost"
                   dbName="online_logging" />
    <qa-machine hostName="localhost"
                   dbName="online_logging" />
    <uat-machine hostName="localhost"
                   dbName="online_logging" />
    <prod-machine hostName="localhost"
                   dbName="online_logging" />
</configuration>